@tailwind base;
@tailwind components;
@tailwind utilities;


  .glass{
    background: linear-gradient(135deg, rgba(241, 119, 212, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 82, 200, 0.18);
    box-shadow: 0 8px 32px 0 rgba(247, 152, 239, 0.37);
  }